@import "styles/utils";

@mixin base-properties {
  border-radius: 5px;
  background-color: $white;
  @include component-base;
}

.container {
  width: 200px;
  position: relative;

  @include for-size(phone-only) {
    width: 100%;
    margin-top: 10px;
  }
}

.selectedValue {
  @include base-properties;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  cursor: pointer;
  position: relative;
  user-select: none;
  height svg {
    $size: 12px;
    height: $size;
    width: $size;
    margin-left: 30px;
    position: absolute;
    right: 15px;
  }
}

.options {
  @include base-properties;
  margin-top: 4px;
  z-index: 2;
  position: absolute;
  width: 100%;
  display: none;
  overflow: hidden;
  user-select: none;
}

.option {
  padding: 12px 20px;
  cursor: pointer;

  &:hover {
    background-color: darken($white, 2%);
  }
}

.open {
  display: block;
  animation: slideDown 0.2s forwards;
}

.reset {
  $size: 20px;
  height: $size;
  width: $size;
  border-radius: 100%;
  background-color: darken($white, 15%);
  position: absolute;
  left: -30px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: $white;
}

:global(.dark) {
  .selectedValue,
  .options {
    transition: $theme-transition;
    background-color: $dark-mode-blue;
    color: $white;
  }

  $lighten-dark-color: lighten($dark-mode-blue, 4%);

  .option {
    &:hover {
      background-color: $lighten-dark-color;
    }
  }

  .reset {
    background-color: $lighten-dark-color;
  }
}

@keyframes slideDown {
  0% {
    margin-top: -10px;
    opacity: 0;
  }

  100% {
    margin-top: 4px;
    opacity: 1;
  }
}
