@import "styles/utils";

.input {
  box-shadow: 2px 5px 10px -5px rgba($black, 0.2);
  width: 500px;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  background-color: $white;

  input {
    font-family: "Nunito Light";
    font-size: $font-size-home;
    padding: 20px;
    padding-left: 10px;
    border: 0;
    width: 100%;
    background-color: transparent;

    &,
    &::placeholder {
      color: $dark-gray;
    }

    &:focus {
      outline: 1px solid $dark-gray;
    }
  }

  @include for-size(phone-only) {
    width: 100%;
  }
}

.icon {
  padding: 0 15px 0 35px;
  color: $dark-gray;

  svg {
    fill: $dark-gray;
  }
}

:global(.dark) {
  .input {
    background-color: $dark-mode-blue;

    input {
      &,
      &::placeholder {
        color: $white;
      }
    }
  }

  .icon {
    color: $white;
  }
}
