@import "styles/utils";

.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  width: 90%;
  margin: 0 auto;

  @include for-size(phone-only) {
    width: 100%;
  }
}

.country {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;

  @include for-size(phone-only) {
    flex-flow: column nowrap;
  }
}

.flag {
  width: 40%;
  border: 1px solid rgba($black, 0.07);

  @include for-size(phone-only) {
    width: 100%;
  }
}

.content {
  width: 50%;

  @include for-size(phone-only) {
    width: 100%;
  }
}

.titleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;

  @include for-size(phone-only) {
    margin-top: 20px;
  }
}

.numericCode {
  font-size: 22px;
  margin-left: 5px;
}

.text {
  font-size: $font-size-detail;
  margin: 15px 0;
  line-height: 1.2;
}

.contentContainer {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: space-between;
  width: 80%;

  .contentBlock {
    max-width: 50%;
  }

  @include for-size(phone-only) {
    flex-flow: column nowrap;

    .text:first-child {
      margin-top: 0;
    }
  }
}

.button {
  margin: 60px 0 80px;

  @include for-size(phone-only) {
    margin: 0 0 20px;
  }
}

.borderCountries {
  display: flex;
  flex-flow: row wrap;

  @include for-size(phone-only) {
    margin-top: 0;

    .text {
      margin-top: 0;
    }
  }
}

.borderCountry {
  margin: 5px 5px;
  display: inline-flex;
  a {
    padding: 6px 15px;
    border-radius: 1px;
    box-shadow: none;
    border: 1px solid rgba($black, 0.15);
  }
}
