@import "styles/utils";

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  column-gap: 3rem;
  row-gap: 4rem;

  &.loading {
    display: flex;
    place-items: center;
    height: 100%;
    width: 100%;
    justify-content: center;
    margin-top: 100px;
  }

  @include for-size(phone-only) {
    margin-top: 3rem;
    row-gap: 2.5rem;
  }
}

.filters {
  margin-bottom: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  > * + * {
    margin-left: 5px;
  }

  @include for-size(phone-only) {
    margin: 0;
    flex-flow: column;
    margin-bottom: 20px;
  }
}
