@import "./reset";
@import "./fonts";
@import "./layout";

@import "./utils";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: "Nunito Light";
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: $dark-blue;
}

h1 {
  font-size: 32px;
  font-family: "Nunito ExtraBold";
}

.app {
  min-height: 100vh;
  background-color: $background-light;

  &.dark {
    background-color: $background-dark;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      color: $white;
    }

    &,
    > * {
      transition: 0.2s;
    }
  }
}
