@import 'src/styles/variables/colors';

.container {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  padding: 25px 30px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px -6px 12px #000;
  background-color: $background-light;
  position: fixed;
  top: 0;
}

.title {
  font-size: 24px;
  font-family: 'Nunito ExtraBold';
}

.theme-switcher {
  font-family: 'Nunito SemiBold';
  color: red;
}