@import "styles/utils";

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.filters {
  margin-left: 35px;
  margin-right: 35px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include for-size(phone-only) {
    margin: 0;
    flex-flow: column;
    margin-bottom: 20px;
  }
}
