$white: #fff;
$black: #000;

// Dark Theme
$dark-mode-blue: hsl(209, 23%, 22%);
$background-dark: hsl(207, 26%, 17%);

// Light Theme
$dark-gray: hsl(0, 0%, 52%);
$background-light: hsl(0, 0%, 98%);
$dark-blue: hsl(200, 15%, 8%);
$border-color: rgba($black, 0.07);
