@import "styles/utils";

.container {
  width: 15%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 5px 10px 20px -5px rgba($black, 0.2);
  cursor: pointer;
  margin: 35px;
  background-color: $white;

  img {
    max-width: 100%;
  }

  @include for-size(phone-only) {
    width: 100%;
    margin: 20px auto;

    & + & {
      margin-top: 30px;
    }
  }
}

.content {
  padding: 25px 25px 30px;
  border-top: 1px solid rgba($black, 0.07);
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
  font-family: "Nunito ExtraBold";
}

.text {
  font-size: $font-size-home;
  margin: 10px 0;
}

.flag {
  min-height: 160px;
  background-size: cover;
  background-position: center;
}

:global(.dark) {
  .container {
    transition: $theme-transition;
    background-color: $dark-mode-blue;
  }
}
