@import 'src/styles/variables/colors';
@import 'src/styles/variables/sizes';

.container {
  width: 15%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 5px 10px 20px -5px rgba($black, 0.2);
  cursor: pointer;
  margin: 35px;

  img {
    max-width: 100%;
  }

  &:hover{
    transform: scale(1.02);
    transition: .4s;
  }
}

.content {
  padding: 25px 25px 30px;
  border-top: 1px solid rgba($black, .07);
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
  font-family: 'Nunito ExtraBold';
}

.text {
  font-size: $font-size-home;
  margin: 10px 0;
}
